<a href="https://colab.research.google.com/github/margineanu-dragos/ddd/blob/master/Importing_data_1(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
downloaded = drive.CreateFile({'id':'1K1ALDwx56OhLDMfTWnkLii65bApK_gKf'}) 
downloaded.GetContentFile('Chinook_Sqlite.sqlite')

In [0]:
from sqlalchemy import create_engine

**sqlalchemy** is a **pachet** for work with **sqlite** and **create_engine** will create a link with databases

In [0]:
engine = create_engine('sqlite:///Chinook_Sqlite.sqlite')

now, the databases bears the name of **engine** and it may be used

In [17]:
print(engine.table_names())

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

for to find out the names of the table insaid data bases is used methods **.table_names()**

![alt text](https://drive.google.com/uc?id=1vkjM_7B-DinkftWxjwgTv1bvCnrfoWIM)

**engine.connect** cretae a manager that allow apply comands form sql in python  and then with **.execute** apply **queries**. rs is a picee from data_bases and then will save it in a DataFrame with method **.fetchmany()** and size represents who row will be imported or **fetchall()** that import all rows.

In [0]:
with engine.connect() as con:
  rs=con.execute('select * from Artist where ArtistId>=3 order by Name')
  df=pd.DataFrame(rs.fetchall())
  df.columns=rs.keys()

**WHERE**  is the way conditions are applied and **ORDER BY** who the results is ordely

In [26]:
print(df.head())

   ArtistId                                               Name
0        43                                       A Cor Do Som
1       230          Aaron Copland & London Symphony Orchestra
2       202                                     Aaron Goldberg
3       214  Academy of St. Martin in the Fields & Sir Nevi...
4       215  Academy of St. Martin in the Fields Chamber En...

![alt text](https://drive.google.com/uc?id=1_iANiZme3vhqjVb5jZlwRefHeHpBygXC)

In [0]:
df1=pd.read_sql_query('select *  from Artist', engine)#ceam mai importanta linie, cu pandas se poate interoga direct fara fisiere intermediara
#intre ghilimele se poate tasta orice iterogare, iar al doilea argument il reprezinta baza de bate

with **.read_sql_query** pandas can exectute sql comands without connect, in one line

In [32]:
print(df1.head())

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains